In [0]:
from pyspark.sql import SparkSession
from pyspark.sql.window import Window
import pyspark.sql.functions as psf
from pyspark.sql.functions import dense_rank

simpleData = [("James", "Sales", 3000),
("Michael", "Sales", 4600),
("Robert", "Sales", 4100), 
("Maria", "Finance", 3000), 
("James", "Sales", 3000),
("Scott", "Finance", 3300), 
("Jen", "Finance", 3900),
("Jeff", "Marketing", 3000), 
("Kumar", "Marketing", 2000), 
("Saif", "Sales", 4100) ]
 
columns= ["employee_name", "department", "salary"] 

df = spark.createDataFrame(data = simpleData, schema = columns) 
windowSpec = Window.partitionBy("department").orderBy("salary")
df2=df.withColumn("dense_rank",dense_rank().over(windowSpec))
df2.sort(df.department.desc(),df.salary.asc()).show()

+-------------+----------+------+----------+
|employee_name|department|salary|dense_rank|
+-------------+----------+------+----------+
|        James|     Sales|  3000|         1|
|        James|     Sales|  3000|         1|
|       Robert|     Sales|  4100|         2|
|         Saif|     Sales|  4100|         2|
|      Michael|     Sales|  4600|         3|
|        Kumar| Marketing|  2000|         1|
|         Jeff| Marketing|  3000|         2|
|        Maria|   Finance|  3000|         1|
|        Scott|   Finance|  3300|         2|
|          Jen|   Finance|  3900|         3|
+-------------+----------+------+----------+

In [0]:
from pyspark.sql import SparkSession
simpleData = [("i-101","p110",23, 1),
("i-102", "p111", 50, 1),
("i-103", "p111", 50, 3), 
("i-104", "p112", 75, 1), 
("i-105", "p114", 125, 1), 
("i-106", "p115", 100, 1), 
("i-107", "p115", 100, 1), 
("i-108", "p114", 125, 2), 
("i-109", "p113", 100, 1), 
("i-110", "p111", 50, 2)] 

columns= ["invoice no", "product id", "unit_price", "quantity"]

df = spark.createDataFrame(data = simpleData, schema = columns) 
print(df.distinct().count())

10